<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fail.css') }}">
    <title>Fail</title>
</head>
<body>
    <div class="container">
        <h1>Payment failed!</h1>
        <p>Something wrong happened. Make sure you entered data correctly. Otherwise, your card country isn't supported</p>
        <a href="https://www.example.com" class="button">Go back</a>
    </div>
</body>
</html>
